[Unit]
Description=Farmhand Database Backup
After=network.target

[Service]
Type=oneshot
User=__USER__
ExecStart=__HOME__/Farmhand/scripts/optional/farmhand-backup.sh
# Also prune old backups
ExecStartPost=__HOME__/Farmhand/scripts/optional/farmhand-backup.sh --prune 30

[Install]
WantedBy=multi-user.target
